.logo {
  height: 100%;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.cell {
  height: 60px;
  min-height: 60px;
  max-height: auto;
  float: left;
  margin: 3px;
  padding: 3px;
  padding-left: 10px;
  display: table-cell;
  vertical-align: middle;
}

.cell span {
  position: relative;
  bottom: 25px;
}
